# MongoDB Connection (required)
# For local development: mongodb://localhost:27017/auth-app
# For production: MongoDB Atlas connection string
MONGODB_URI="mongodb+srv://shivauser:ShivaYp@cluster0.f0pdguf.mongodb.net/?appName=Cluster0"

# JWT Configuration (required)
# Change this to a strong random string in production
JWT_SECRET="kjsgkjabslgkandglakngdlaskgnoirnklnkl"
JWT_EXPIRY=15d

# Set to your frontend URL in production
CORS_ORIGIN=*

# Node Environment
NODE_ENV=development
